/*
	#587a68	(88,122,104)
    #4d765e	(77,118,94)
    #3b6b5b	(59,107,91)
    #1e603d	(30,96,61)
    #03492b	(3,73,43)
*/
body {
    font-family: sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    background-color: #cacaca;
}

img { 
    border: none;
    max-width: 100%;
    cursor: pointer;
}

header {
    background-color: rgb(88,122,104);
}

header ul {
    list-style: none;
    margin: 0; padding: 0;
}

header ul li { 
    display: inline-block;
    padding: 12px; 
}

header ul li:hover {
    background: rgba(100, 100, 100, .5);   
}

#body {
    padding: 10px;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
    background: rgba(225,225, 225, .5);    
}

.accent {
    height: 5px; 
    background-color: #5d5d5d;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

table tbody tr:hover {
    background-color: rgba(150, 150, 15, .7);
}

table thead th {
    text-decoration: underline;
    padding: 10px;
    border: solid 1px #333;
    border-top: none;
}

table tbody td {
    padding: 10px 0px; 
    border-bottom: solid 1px #999;
}