<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>zal133.github.io</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
        
        <!-- Scripts --> 
        <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>        
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
        
        <!-- Site Style -->
        <link type="text/css" rel="stylesheet" href="/css/site.css" />        
    </head>
    <body>
        <header>
            <div class='wrapper'>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/search.html">Search</a></li>
                        <li><a href="/tags.html">Tags</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class='wrapper accent'></div>
        <div class='wrapper'>
            <div id="body" class="container">
                {{BODY}}
            </div>
        </div>
        <script>
            hljs.initHighlightingOnLoad();
        </script>
    </body>
</html>